<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layouts/masterlayout.html}">

<head>

</head>
<body>
<th:block layout:fragment="content">
    <!--  layout block-->


    <h1>Customer Registration Form</h1>
    <!--    Div that contains customer form-->
    <div class=" text-left mx-auto bg-warning" style="width:70%;margin:0 auto" >
        <!--/*@thymesVar id="customer" type="aj"*/-->
        <form action="#" th:action="@{/home/savecustomer}"  th:object="${customer}"  method="post">
            <input type="hidden" th:field="*{customerId}" name="customerId" class="form-control"  >
            <input type="hidden" th:field="*{createdAt}" name="createdAt" class="form-control"  >

            <div class="form-row">
                <!--                    Start of input components-->
                <div class="form-group col-md-6">

                    First Name:  <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" style="color: red" ></span><br>
                    <input type="text" th:field="*{firstName}" name="firstName" class="form-control" required placeholder="First Name">
                </div>
                <div class="form-group col-md-6">
                    <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="alert alert-danger"></span>
                    Last Name: <br>
                    <input type="text" th:field="*{lastName}" name="lastName" class="form-control" required placeholder="Last Name">
                </div>
                <div class="form-group col-md-6">
                    <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="alert alert-danger"></span>
                    Email Address: <br>
                    <input type="email" th:field="*{email}" name="email" class="form-control" required placeholder="Email Address">
                </div>
                <div class="form-group col-md-6">
                    <span th:if="${#fields.hasErrors('ip')}" th:errors="*{ip}"   class="alert alert-danger"></span>
                    IP Address: <br>
                    <input type="text" th:field="*{ip}" name="ip" class="form-control" required placeholder="Contact Phone Number">
                </div>
                <div class="form-group col-md-6">
                    <span th:if="${#fields.hasErrors('latitude')}" th:errors="*{latitude}" class="alert alert-danger"></span>
                    Latitude: <br>
                    <input type="text" th:field="*{latitude}" name="latitude" class="form-control" required placeholder="Date of Birth">
                </div>
                <div class="form-group col-md-6">
                    <span th:if="${#fields.hasErrors('longitude')}" th:errors="*{longitude}" class="alert alert-danger"></span>
                    Longitude: <br>
                    <input text="text" th:field="*{longitude}" name="longitude" class="form-control" required placeholder="Account Number">
                </div>

                <div class="form-group col-md-6">
                    <br>
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <button type="reset" class="btn btn-primary">Cancel</button>
                </div>
            </div>

        </form>
    </div>
    </th:block>
</body>
</html>